<div class="container">

    <div class="row">
        <div class="col-sm-6">
            <div id="Sarticles"></div>
        </div>

        <div class="col-sm-4 offset-sm-2">
             <div id="notes"></div> 
        </div>
    </div>

</div>

